
@{
    ViewBag.Title = "Index";
}

<div class="cont-raiting">
    <span class="title-points">Ваши баллы: <span id="points">0</span></span>
    <div class="all-raiting">@Html.ActionLink("Рейтинг пользователей", "GetAllRaiting", "Games")</div>
</div>

<h2 id="title-all-game">Игры:</h2>

<div id="games">
    <div ><h3>@Html.ActionLink("Drag and drop", "DragAndDrops", "Games", new { @class = "games-item-1 games-item" })</h3></div>
    <div><h3> @Html.ActionLink("Translate", "WordTranslationGame", "Games", new { @class = "games-item-2 games-item" })</h3></div>
    <div><h3> @Html.ActionLink("Paste", "ExampleSentencesGame", "Games", new { @class = "games-item-3 games-item" })</h3></div> 
    <div><h3> @Html.ActionLink("Recognition", "SpeechGame", "Games", new { @class = "games-item-4 games-item" })</h3></div> 
    <div><h3> @Html.ActionLink("Listening", "AudioGame", "Games", new { @class = "games-item-5 games-item" })</h3></div>
</div>

<link href="~/Content/MyCss/Games.css" rel="stylesheet" />
@*<script src="~/Scripts/myscripts/games/AjaxRequest.js"></script>
<script src="~/Scripts/myscripts/games/Game.js"></script>
<script src="~/Scripts/myscripts/games/GetRaiting.js"></script>*@

<script src="~/Scripts/build/bundle.js"></script>